* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  height: 0vh;
}

.header a {
  float: left;
  color: black;
  text-align:right;
  padding: 2px;
  text-decoration: none;
  font-size: 14px; 
  /* line-height: 15px; */
  border-radius: 4px;
}

.header a.logo {
  font-size: 20px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float:right;
}
.navbarimg{
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-left: 12px;
}
.navcontent{
  clear: both;
  position: fixed;
  top: 10px;
  border: 2px solid #bde0fe;
  background-color: white;
  width: 100%;
}
.navcontent ul{
  float: right;
  list-style: none;
  margin-top: 10px;
  margin-right: 20px;
}
.navcontent li{
  font-size: 20px;
  float: left;
  margin-left: 20px;
  padding-left: 7px;
}
.navcontent li a:hover{
  color: blue;
  font-size: 23px;    
  border: 1px solid black;
  border-radius: 5px;
  letter-spacing: 4px;
  box-shadow: 12px 10px 12px 1px rgba(49, 56, 59, 0.2);
  transform: translateY(-2px);
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
  
}

/* table */

.table-content {
  margin: 40px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 75%;
  border-collapse: collapse;
  text-align: center;
}

.table-content thead tr {
  background-color: #C0C0C0;
  color: #ffffff;
}

.table-content tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-content th,
.table-content td {
  padding: 12px 15px;
  border: #D3D3D3 solid 1px;
}
.table-head {
  font-size: large;
  font-style: normal;
  font-weight: bolder;
  color: blue;
}
.searchBox{
  margin-left:35%; 
  width: 30%;
}
.titles {
  margin-top: 80px;
  text-align: center;
  color: blue;
}

form {
  background-color: #DCDCDC;
  border: 1px solid #A9A9A9;
  padding: 15px;
  margin: 20px 500px 100px 500px;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.formButton {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-right: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
}

.formHead {
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  margin-top: 150px;
}


